.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 512px;
  margin: 0 auto;
  padding: 15px;
  background-color: wheat;
  color: brown;
}
