.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 512px;
  background: whitesmoke;
  box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    1px 4px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}
.title {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
}
.statList {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-inline-start: 0px;
}
.item {
  list-style: none;
  flex-basis: 20%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.wrap {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  padding-top: 15px;
}
.label {
  color: whitesmoke;
  padding-bottom: 15px;
}
.percentage {
  color: whitesmoke;
}
